{% extends "_base.html" %}
{% block content %}
<div class="login-wrapper">
    <h2>Welcome to the CRUD App!</h2>
    <h3>Please log in</h3>
    <form action="" method="=post">
        <div class="input-group">
            <label for="name">Username:</label>
            <input type="text" id="username" name="username" value="{{ request.form.username }}">
        </div>
        <div>
            <label for="mail">Password:</label>
            <input type="password" id="password" name="password" value="{{ request.form.password }}">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>
<p><em>Use 'admin' for the username and password.</em></p>

{% endblock %}
